html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.blue-accent {
  color: #15cadb;
}

nav {
  display: none;
}

.divider-line {
  width: 8rem;
  height: 0.75rem;
  margin-left: 2rem;
  background-color: #fde014;
}

.yellow {
  background-color: #fde014;
}

.magenta {
  background-color: #c7205a;
}

.cyan {
  background-color: #15cadb;
}

.header-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/header-image.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-wrapper h1 {
  color: #f2f2f2;
  font-family: "Big Shoulders Display", cursive;
  font-size: 8rem;
  line-height: 12rem;
}
.header-wrapper .boom {
  height: 20vw;
  width: 20vw;
  background-color: #fff;
  border: 10px solid #c7205a;
  border-radius: 50%;
  overflow: hidden;
}
.header-wrapper .boom img {
  max-width: 100%;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 6rem;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

li {
  font-family: "Lexend Deca", sans-serif;
  color: #f2f2f2;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

#about-me {
  background-color: #1d2635;
  color: #f2f2f2;
}

#projects {
  color: #404040;
}

#contact {
  background-color: #f2f2f2;
  color: #404040;
}

.colour-spots {
  display: grid;
  grid-gap: 15px;
  margin-bottom: 4rem;
}

.spot {
  border-radius: 50%;
  grid-row: 1;
  height: 20px;
  width: 20px;
}

.card-wrapper {
  display: grid;
  grid-gap: 2rem;
  width: 80%;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #404040;
  overflow: hidden;
}
.card h2 {
  font-family: "Big Shoulders Display";
  color: #404040;
  font-size: 2rem;
  margin-bottom: 0;
}
.card p {
  font-family: "Lexend Deca";
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
}
.card .icon {
  width: 100%;
  height: 40%;
  overflow: hidden;
}
.card .icon img {
  max-width: 100%;
}
.card .card-content {
  padding: 0 20% 20% 20%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card button {
  font-family: "Lexend Deca";
  background-color: transparent;
  color: #404040;
  border: 0.5px solid #404040;
  border-radius: 20px;
  width: 10rem;
  height: 2.5rem;
}

@media only screen and (min-width: 992px) {
  .card-wrapper {
    width: 65%;
    height: 60vh;
  }

  .card {
    grid-row: 1;
  }
  .card button:hover {
    background-color: #fff;
    cursor: pointer;
  }
  .card#one button:hover {
    color: #404040;
  }
  .card#two button:hover {
    color: #404040;
  }
  .card#three button:hover {
    color: #404040;
  }
}

/*# sourceMappingURL=styles.css.map */
